<%- partial('../sidebar') %>

<div id='content'>
  <div class='panel'>
    <div class='header'>
      <ul class='breadcrumb'>
        <li><a href='/'>主页</a><span class='divider'>/</span></li>
        <li class='active'>关于社区</li>
      </ul>
    </div>
    <div class='inner topic'>
      <div class="topic_content">
        <%- markdown(multiline(function () {
/*
### 关于社区
ThreatHunter Club 是国内首个专注于威胁发现和安全大数据分析的社区。

ThreatHunter Club由一批热爱网络安全的技术工程师发起，目前已经聚集了一批网络安全爱好者以及企业的安全技术人员的加入，我们非常欢迎有更多的安全从业者能够加入我们。

我们的目的是为国内安全事业贡献自己的力量，同时为广大网络安全爱好者提供一个交流的平台。

*/
        })) %>
      </div>
    </div>
  </div>
</div>
